{% extends 'base.html.twig' %}

{% block title %}Nos produits - La Boutique d'Orlins{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h1 class="h3">Filtrer</h1>
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-info btn-block" formnovalidate>
                    Filtrer
                </button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-9">
            <h2 class="h3">Nos produits</h2>
            <div class="row product-container">
                {% for product in products %}
                    <div class="col-md-4">
                        {% include 'product/single_product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
