{% extends 'base.html.twig' %}

{% block title %}Valider ma commande | La Boutique d'Orlins{% endblock %}

{% block content %}
    <h1>Je valide ma commande</h1>
    <p>Choisissez vos préférences avant de passer commande sur La Boutique d'Orlins.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Choisir mon adresse de livraison</b><br>
            <b>Choisir mon transporteur</b>
        </div>
        <div class="col-md-6">
            <b>Récapiulatif de ma commande</b><br>
            <b>Bouton pour payer</b>
        </div>
    </div>
{% endblock %}
